body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 6px;
    padding: 10px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 14px;
    font-weight: bold;
    width: 90px;
    border: none;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    flex: 0 1 auto;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 20px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 2 1 0;
    background-color: #1F2937;
    padding: 30px;
}

.hero-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 500px;
}

.hero-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 5px;
}
.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.top-image {
    max-width: 400px;
    border: unset;
}
.information {
    display: flex;
    flex-direction: column;
    flex: 2 1 0;
    padding: 20px;
}

.information-top {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 20px;
}

.info {
    max-width: 200px;
    text-align: center;
}

img {
    max-width: 200px;
    border-radius: 12px;
    border: solid;
    border-color: #3882F6;
}

.information-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: auto;
    gap: 100px;
}

.text-info {
    max-height: 18px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2 1 auto;
    background-color: #E5E7EB;
}

.quote-box {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px;
}

.quote-text {
    color: #1F2937;
    margin-bottom: -10px;
    font-size: 32px;
    font-style: italic;
    font-weight: 100;
}
.quote-name {
    align-self: flex-end;
    font-weight: bold;
}
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

.cta-box {
    display: flex;
    background-color: #3882F6;
    margin: 60px;
    border-radius: 6px;
    padding: 20px 60px;
    max-width: 90vh;
    align-items: center;
    flex: auto;
    justify-content: center;
}

.cta-left {
    padding: 10px;
    color: #F9FAF8;
    margin-right: 50px;
}

.sign-up-cta {
    border: solid;
    border-color: white;
    padding: 10px;
    min-width: 100px;
    width: 140px;
    max-height: 40px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    flex: 0 1 auto;
}